<mat-toolbar color="primary">
  <a class="navbar-brand" href="#">Cultuga</a>

  <div class="example-spacer"></div>

  <div class="headerSearchBar">
    <div class="input-group rounded">
      <input
        type="search"
        class="form-control rounded"
        placeholder="Search"
        aria-label="Search"
        [(ngModel)]="searchTerm"
        (keyup)="search($event)"
      />
    </div>
  </div>

  <div class="example-button-row" id="menuDiv">
    <div class="dropdown">
      <button class="dropbtn" aria-label="menuButton">
        <i class="fa fa-bars"></i>
      </button>
      <div class="dropdown-content dropdown-content-left dropdown-menu">
        <a mat-button href="http://localhost:4200/patrimonies" target="_self">
          <i class="fa fa-building"></i> Venues
        </a>
        <a mat-button href="http://localhost:4200/" target="_self">
          <i class="fa-regular fa-calendar"></i> Events
        </a>
        <a mat-button href="http://localhost:4200/checkout" target="_self">
          <i class="fa-solid fa-cart-shopping"></i> Checkout
        </a>
      </div>
    </div>

    <a
      mat-button
      class="large-screen-button"
      href="http://localhost:4200/patrimonies"
      target="_self"
    >
      <i class="fa fa-building"></i> <strong> Venues</strong>
    </a>

    <a
      mat-button
      class="large-screen-button"
      href="http://localhost:4200/"
      target="_self"
    >
      <i class="fa-regular fa-calendar"></i> <strong> Events</strong>
    </a>

    <a
      mat-button
      class="large-screen-button"
      href="http://localhost:4200/checkout"
      target="_self"
    >
      <i class="fa-solid fa-cart-shopping"></i> <strong> Checkout</strong>
    </a>
  </div>

  <div class="example-spacer"></div>

  <div class="dropdown">
    <button class="dropbtn">
      <i class="fa-solid fa-user"></i><strong> Profile</strong>
    </button>
    <div class="dropdown-content dropdown-content-left dropdown-menu">
      <a mat-button href="http://localhost:4200/clients" target="_self">
        <i class="fa-solid fa-circle-info"></i> Information
      </a>

      <a mat-button (click)="logout()">
        <i class="fa-solid fa-arrow-right-from-bracket fa-rotate-180"></i>
        Logout
      </a>
    </div>
  </div>
</mat-toolbar>
