.container {
  width: 90%;
  padding-top: 15px;
  padding-bottom: 15px !important;
  margin: auto;
}

.bg-gray {
  background-color: rgb(180, 180, 180);
}

.card-details {
  outline: rgb(180, 180, 180) solid 1px;
  margin-top: 50px !important;
  padding: 0px !important;
  width: 90%;
  margin: auto;
}

.card {
  margin-bottom: 15px !important;
}
