.container {
    outline: rgb(180, 180, 180) solid 1px;
    margin: 0;
    padding: 0;
    padding-bottom:50px;
    margin-top: 50px !important;
    margin: auto;
  }

  .bg-gray {
    background-color:  rgb(180, 180, 180);
    margin-bottom: 50px;
  }
  
  .link-danger {
    border: none;
    background-color: transparent;
    color: red; /* Change the color to match your desired link color */
    text-decoration: underline;
    cursor: pointer;
  }
  