<div
  class="alert alert-danger fade show"
  role="alert"
  id="error1"
  [hidden]="!errorLoginFailed"
>
  <strong>Login failed!</strong> Check if you've inserted the correct
  information!
  <button
    type="button"
    class="btn-close float-end"
    (click)="closeErrorLoginFailed()"
  ></button>
</div>

<section class="vh-75">
  <div class="container mt-5">
    <nav class="navbar navbar-dark bg-gray">
      <div class="container-fluid">
        <a class="navbar-brand">Login</a>
      </div>
    </nav>
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-4">
        <form>
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input
              type="email"
              id="form3Example3"
              class="form-control form-control-lg"
              placeholder="Email"
              #email
            />
            <label class="form-label" for="form3Example3"
              >Endereço de email</label
            >
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input
              type="password"
              id="form3Example4"
              class="form-control form-control-lg"
              placeholder="Palavra-passe"
              #pass
            />
            <label class="form-label" for="form3Example4">Palavra-passe</label>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button
              type="submit"
              class="btn btn-primary btn-lg col-md-12"
              (click)="login(email.value, pass.value)"
            >
              Login
            </button>

            <ng-container *ngIf="loading">
              <mat-progress-bar
                mode="indeterminate"
                class="mb-4 mt-5"
              ></mat-progress-bar>
            </ng-container>

            <h6 class="fw-bold mt-2 pt-1 mb-0">
              New here?
              <a type="button" class="link-danger" (click)="register()">
                Register now
              </a>
            </h6>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
