.card-event-details-content {
  padding-top: 50px;
  outline: rgb(220, 220, 220) solid 1px;
  margin-bottom: 20px; /* Add margin-bottom for spacing */
}

.card-event-details-img {
  padding-top: 50px;
  outline: rgb(220, 220, 220) solid 1px;
  margin-bottom: 20px; /* Add margin-bottom for spacing */
}

.ticketPriceCard {
  padding-top: 15px !important;
}

.author-name {
  font-weight: 200;
}

.image-event {
  display: flex;
  justify-content: center;
}

.btn-review button {
  background-color: #545586 !important;
  color: white;
}

label {
  font-size: 18px;
}

.format-label {
  margin-left: -6px !important; /* Doesn't work */
  width: 10rem;
}

.ticket-title {
  padding: 10px;
}
