<div
  class="alert alert-danger fade show"
  role="alert"
  id="errorVipTickets"
  [hidden]="!errorVipTickets"
>
  <strong>Invalid Number of VIP Tickets!</strong> Please type a number between 0
  and 10.
  <button
    type="button"
    class="btn-close float-end"
    (click)="closeError(1)"
  ></button>
</div>

<div
  class="alert alert-danger fade show"
  role="alert"
  id="errorFamilyTickets"
  [hidden]="!errorFamilyTickets"
>
  <strong>Invalid Number of Family Tickets!</strong> Please type a number
  between 0 and 10.
  <button
    type="button"
    class="btn-close float-end"
    (click)="closeError(2)"
  ></button>
</div>

<div
  class="alert alert-danger fade show"
  role="alert"
  id="errorNormalTickets"
  [hidden]="!errorNormalTickets"
>
  <strong>Invalid Number of Normal Tickets!</strong> Please type a number
  between 0 and 10.
  <button
    type="button"
    class="btn-close float-end"
    (click)="closeError(3)"
  ></button>
</div>

<div
  class="alert alert-danger fade show"
  role="alert"
  id="errorChildTickets"
  [hidden]="!errorChildTickets"
>
  <strong>Invalid Number of Children Tickets!</strong> Please type a number
  between 0 and 10.
  <button
    type="button"
    class="btn-close float-end"
    (click)="closeError(4)"
  ></button>
</div>

<div
  class="alert alert-danger fade show"
  role="alert"
  id="errorNoTickets"
  [hidden]="!errorNoTickets"
>
  <strong>Invalid Number of Tickets!</strong> Please buy at least one ticket.
  <button
    type="button"
    class="btn-close float-end"
    (click)="closeError(5)"
  ></button>
</div>

<div class="container mb-5 mt-5">
  <div class="row container justify-content-center m-auto mt-5">
    <div class="row m-l-0 m-r-0">
      <!-- Card for displaying event details and image -->
      <div class="card-event-details-img col-lg-4 col-md-12 text-center">
        <div class="image-event">
          <img
            src="http://127.0.0.1:5000/{{ event.imageUrl }}"
            style="width: 100%; max-width: 300px; height: auto"
            class="img-radius"
          />
        </div>
        <div class="d-flex justify-content-center" id="buyDiv">
          <button
            class="btn col-lg-9 col-md 12 btn-success mt-5"
            (click)="confirmCheckout()"
            id="buyButton"
          >
            <i class="fa-sharp fa-solid fa-ticket"></i> Buy
          </button>
        </div>
        <div class="d-flex justify-content-center mb-5">
          <a href="http://localhost:4200/" class="btn col-lg-9 col-md 12 btn-danger mt-5">
            <i class="fa-solid fa-arrow-left"></i> Back
          </a>
        </div>
      </div>

      <!-- Card for displaying event details content -->
      <div class="card-event-details-content col-lg-8 col-md-12">
        <div class="card-block p-1">
          <h2 class="display-4 author-name">
            <strong>{{ event.name }}</strong>
          </h2>
          <div class="row m-l-0 m-r-0 mb-5">
            <!-- Details section -->
            <h3 class="display-6 mb-3">Details</h3>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <h4 class="author-name"><strong>Description</strong></h4>
                <p>
                  {{ event.description }}
                </p>
              </div>
              <div class="col-lg-6 col-md-12">
                <h4 class="author-name"><strong>Type</strong></h4>
                <p>
                  {{ event.type }}
                </p>
              </div>
              <div class="col-lg-6 col-md-12">
                <h4 class="author-name"><strong>Classification</strong></h4>
                <p>
                  {{ event.classification }}
                </p>
              </div>
              <div class="col-lg-6 col-md-12">
                <h4 class="author-name"><strong>Seats Available</strong></h4>
                <p>
                  {{ event.seatsAvailable }}
                </p>
              </div>
              <div class="col-lg-6 col-md-12">
                <h4 class="author-name"><strong>Finished</strong></h4>
                <p>
                  {{ event.finished ? "Yes" : "No" }}
                </p>
              </div>
            </div>
          </div>

          <hr class="dashed mt-5 mb-5" />

          <div class="row m-l-0 m-r-0 mb-5">
            <h3 class="display-6 mb-3">Session</h3>
            <div class="row">
              <!-- Session section -->
              <div class="col-lg-6 col-md-12">
                <h4 class="author-name"><strong>Date</strong></h4>
                <p>
                  {{ event.date | date : "yyyy-MM-dd" }}
                </p>
              </div>
              <div class="col-lg-6 col-md-12">
                <h4 class="author-name"><strong>Location</strong></h4>
                <p>
                  {{ event.location }}
                </p>
              </div>
              <div class="col-lg-6 col-md-12">
                <h4 class="author-name"><strong>Start</strong></h4>
                <p>
                  {{ event.schedule.start }}
                </p>
              </div>
              <div class="col-lg-6 col-md-12">
                <h4 class="author-name"><strong>End</strong></h4>
                <p>
                  {{ event.schedule.end }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ng-container *ngIf="doesEventHaveTickets">
        <!-- Card for displaying ticket prices -->
        <div
          class="card-event-details-img col-lg-4 col-md-12 text-center ticketPriceCard"
        >
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <label class="author-name ticket-title"
                ><strong>Ticket Prices</strong></label
              >
            </div>
            <div class="col-lg-12 col-md-12">
              <label class="author-name"><strong>VIP</strong></label>
              <p>{{ vipTicketPrice }} €</p>
            </div>
            <div class="col-lg-12 col-md-12">
              <label class="author-name"><strong>NORMAL</strong></label>
              <p>{{ normalTicketPrice }} €</p>
            </div>
            <div class="col-lg-12 col-md-12">
              <label class="author-name"><strong>FAMILY</strong></label>
              <p>{{ familyTicketPrice }} €</p>
            </div>
            <div class="col-lg-12 col-md-12">
              <label class="author-name"><strong>CHILDREN</strong></label>
              <p>{{ childTicketPrice }} €</p>
            </div>
          </div>
        </div>

        <!-- Card for displaying input tags to purchase tickets -->
        <div
          class="card-event-details-content col-lg-8 col-md-12 ticketPriceCard"
        >
          <div class="row">
            <div class="col-lg-12 col-md-12 text-center">
              <label class="author-name ticket-title"
                ><strong>Ticket Quantity</strong></label
              >
            </div>
            <div class="col-lg-12 col-md-12 input-group mb-3">
              <input
                type="number"
                class="form-control"
                name="vipTickets"
                id="vipTickets"
                min="0"
                max="10"
                placeholder="0"
              />
              <div class="input-group-append format-label">
                <span class="input-group-text" id="basic-addon2"
                  >VIP Tickets</span
                >
              </div>
            </div>
            <div class="col-lg-12 col-md-12 input-group mb-3">
              <input
                type="number"
                class="form-control"
                name="normalTickets"
                id="normalTickets"
                min="0"
                max="10"
                placeholder="0"
              />
              <div class="input-group-append format-label">
                <span class="input-group-text" id="basic-addon2"
                  >Normal Tickets</span
                >
              </div>
            </div>
            <div class="col-lg-12 col-md-12 input-group mb-3">
              <input
                type="number"
                class="form-control"
                name="familyTickets"
                id="familyTickets"
                min="0"
                max="10"
                placeholder="0"
              />
              <div class="input-group-append format-label">
                <span class="input-group-text" id="basic-addon2"
                  >Family Tickets</span
                >
              </div>
            </div>
            <div class="col-lg-12 col-md-12 input-group mb-3">
              <input
                type="number"
                class="form-control"
                name="childTickets"
                id="childTickets"
                min="0"
                max="10"
                placeholder="0"
              />
              <div class="input-group-append format-label">
                <span class="input-group-text">Children Tickets</span>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
