<h2 mat-dialog-title>Confirm Information</h2>
<div mat-dialog-content>
  <p>{{ data.message }}</p>
  <p>Name: {{ data.clientInfo.personalInformation.name }}</p>
  <p>Email: {{ data.clientInfo.personalInformation.email }}</p>
  <p>NIF: {{ data.clientInfo.personalInformation.nif }}</p>
  <p>Phone Number: {{ data.clientInfo.personalInformation.cellPhone }}</p>
  <p>Address: {{ data.clientInfo.personalInformation.address }}</p>
  <p>Postal Code: {{ data.clientInfo.personalInformation.postalCode }}</p>
</div>

<section style="margin-left: 15px">
  <mat-checkbox [(ngModel)]="hasAppliedDiscount">Apply Discount?</mat-checkbox>
</section>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button mat-button (click)="onConfirmClick()">Confirm</button>
</div>
