<div class="container col-lg-8 col-md-12">
  <ng-container *ngIf="client">
    <ng-container *ngIf="!isEditing && !isWatchingSales">
      <nav class="navbar navbar-dark bg-gray">
        <div class="container-fluid">
          <a class="navbar-brand">Personal Information</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarsExample01"
            aria-controls="navbarsExample01"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample01">
            <ul class="navbar-nav me-auto mb-2">
              <li class="nav-item">
                <button
                  type="button"
                  class="nav-link active"
                  (click)="editProfile()"
                >
                  <i class="fa-solid fa-pencil"></i> Edit Information
                </button>
              </li>
              <li class="nav-item">
                <button
                  type="button"
                  class="nav-link active"
                  (click)="seeSales()"
                >
                  <i class="fa-solid fa-eye"></i> View Sales
                </button>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="information-container">
        <div class="card-block p-1">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
              <h3 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Name</h3>
              <h4 class="text-muted f-w-400">
                {{ client.personalInformation.name }}
              </h4>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
              <h3 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Gênero</h3>
              <h4 class="text-muted f-w-400">
                <ng-container *ngIf="client.personalInformation.gender == 'M'">
                  Male
                </ng-container>
                <ng-container *ngIf="client.personalInformation.gender == 'F'">
                  Female
                </ng-container>
                <ng-container *ngIf="client.personalInformation.gender == 'O'">
                  Other
                </ng-container>
              </h4>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
              <h3 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Birthdate</h3>
              <h4 class="text-muted f-w-400">
                {{ client.personalInformation.dob }}
              </h4>
            </div>
          </div>

          <hr class="dashed" />

          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
              <h3 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">
                Mobile Contact
              </h3>
              <h4 class="text-muted f-w-400">
                {{ client.personalInformation.cellPhone }}
              </h4>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
              <h3 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Email</h3>
              <h4 class="text-muted f-w-400">
                {{ client.personalInformation.email }}
              </h4>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
              <h3 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">NIF</h3>
              <h4 class="text-muted f-w-400">
                {{ client.personalInformation.nif }}
              </h4>
            </div>
          </div>

          <hr class="dashed" />

          <div class="row">
            <div class="col-lg-4 col-md-12 mb-2">
              <h3 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Address</h3>
              <h4 class="text-muted f-w-400">
                {{ client.personalInformation.address }}
              </h4>
            </div>

            <div class="col-lg-4 col-md-6 mb-2">
              <h3 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">City</h3>
              <h4 class="text-muted f-w-400">
                {{ client.personalInformation.city }}
              </h4>
            </div>

            <div class="col-lg-4 col-md-6 mb-2">
              <h3 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">
                Postal Code
              </h3>
              <h4 class="text-muted f-w-400">
                {{ client.personalInformation.postalCode }}
              </h4>
            </div>
          </div>
          <hr class="hr" />

          <h2>Points Plan</h2>

          <div class="card-block p-1 mb-5">
            <div class="row">
              <div class="col-lg-6 col-md-6 mb-2">
                <h3 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">
                  Registration Date
                </h3>
                <h4 class="text-muted f-w-400">
                  {{ client.loyaltySystem.creationMemberDate }}
                </h4>
              </div>
              <div class="col-lg-6 col-md-6 mb-2">
                <h3 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">
                  Availabe Points
                </h3>
                <h4 class="text-muted f-w-400">
                  {{ client.loyaltySystem.actualPoints }}
                </h4>
              </div>
            </div>

            <hr class="dashed" />

            <div class="row">
              <div class="col-lg-6 col-md-6 mb-2">
                <h3 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">
                  Tickets Bought
                </h3>
                <h4 class="text-muted f-w-400">
                  {{ client.loyaltySystem.ticketsPurchased }}
                </h4>
              </div>

              <div class="col-lg-6 col-md-6 mb-2">
                <h3 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">
                  Amount Spent
                </h3>
                <h4 class="text-muted f-w-400">
                  {{ client.loyaltySystem.totalMoneyPurchases }} €
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>

<ng-container *ngIf="isEditing">
  <app-edit-profile [client]="client"></app-edit-profile>
</ng-container>

<ng-container *ngIf="isWatchingSales">
  <app-see-sales></app-see-sales>
</ng-container>
