.container {
  outline: rgb(180, 180, 180) solid 1px;
  margin-top: 50px !important;
  padding: 0px !important;
  width: 90%;
  margin: auto;
}

.bg-gray {
  background-color: rgb(180, 180, 180, 1);
}

.exit-icon {
    font-size: 20px;
    color: white;
}

.exit-icon:hover {
    color: rgb(255, 255, 255, 0.8);
}