<ng-container *ngIf="error1">
  <div
    class="alert container alert-danger show mt-5 d-flex justify-content-between align-items-center"
  >
    <p>
      <strong>Some information is missing!</strong> Please fill the form
      properly.
    </p>
    <button class="btn btn-danger" (click)="closeError(1)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</ng-container>

<ng-container *ngIf="error2">
  <div
    class="alert container alert-danger show mt-5 d-flex justify-content-between align-items-center"
  >
    <p>
      <strong>Internal server error. Please contact an administrator</strong>
    </p>
    <button class="btn btn-danger" (click)="closeError(2)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</ng-container>

<!-- <<ERRORS || EDIT CLIENT  >> -->
<div class="container col-lg-8 col-md-12">
  <ng-container *ngIf="client">
    <nav class="navbar navbar-dark bg-gray">
      <div class="container-fluid">
        <a class="navbar-brand">Edit profile</a>
        <a (click)="closeEditInformation()">
          <i class="fa-regular fa-circle-xmark exit-icon"></i>
        </a>
      </div>
    </nav>

    <form
      [formGroup]="clientForm"
      #formDir="ngForm"
      class="flex justify-content-between"
    >
      <div [hidden]="formDir.submitted">
        <div
          class="cross-validation"
          [class.cross-validation-error]="clientForm.errors?.['identityRevealed'] && (clientForm.touched || clientForm.dirty)"
        >
          <div class="form-group">
            <div class="row justify-content-around m-2">
              <!-- LEFT COLUMN -->
              <div class="col-md-10 col-lg-6 col-xl-5">
                <!-- NAME -->
                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <label class="form-label" for="name">Name</label>

                    <input
                      type="text"
                      id="name"
                      class="form-control"
                      formControlName="name"
                      value="{{ client.personalInformation.name }}"
                      [(ngModel)]="client.personalInformation.name"
                      required
                    />
                    <!--name.error-->
                    <div
                      *ngIf="name.invalid && (name.dirty || name.touched)"
                      class="text-muted"
                    >
                      <div *ngIf="name.errors?.['required']">
                        Your name is required.
                      </div>
                      <div
                        *ngIf="name.errors?.['minlength'] || name.errors?.['maxlength']"
                      >
                        Your name must be between 3 and 60 characters.
                      </div>
                      <div *ngIf="name.errors?.['nameInvalid']">
                        Your name can only contain letters.
                      </div>
                    </div>
                  </div>
                </div>

                <!-- DOB -->
                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fa-solid fa-calendar-days fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <label class="form-label" for="dob">DOB</label>

                    <input
                      type="date"
                      id="dob"
                      class="form-control"
                      formControlName="dob"
                      value="{{
                        client.personalInformation.dob | date : 'dd-MM-yyyy'
                      }}"
                      [(ngModel)]="client.personalInformation.dob"
                      required
                    />
                    <div
                      *ngIf="name.invalid && (name.dirty || name.touched)"
                      class="text-muted"
                    >
                      <div *ngIf="name.errors?.['required']">
                        City is required.
                      </div>
                    </div>
                  </div>
                </div>

                <!-- CITY -->
                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fa fa-building fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <label class="form-label" for="form3Example1c">City</label>

                    <input
                      type="text"
                      id="city"
                      class="form-control"
                      formControlName="city"
                      value="{{ client.personalInformation.city }}"
                      [(ngModel)]="client.personalInformation.city"
                      required
                      minlength="3"
                    />
                    <div
                      *ngIf="city.invalid && (city.dirty || city.touched)"
                      class="text-muted"
                    >
                      <div *ngIf="city.errors?.['required']">
                        City is required.
                      </div>
                      <div
                        *ngIf="city.errors?.['minlength'] || city.errors?.['maxlength']"
                      >
                        City must be between 3 and 40 characters.
                      </div>
                    </div>
                  </div>
                </div>

                <!-- POSTAL CODE -->
                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fa-solid fa-road fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <label class="form-label" for="form3Example1c"
                      >Postal Code</label
                    >

                    <input
                      type="text"
                      id="postalCode"
                      class="form-control"
                      formControlName="postalCode"
                      value="{{ client.personalInformation.postalCode }}"
                      [(ngModel)]="client.personalInformation.postalCode"
                      required
                      minlength="3"
                    />
                    <div
                      *ngIf="
                        postalCode.invalid &&
                        (postalCode.dirty || postalCode.touched)
                      "
                      class="text-muted"
                    >
                      <div *ngIf="postalCode.errors?.['required']">
                        Postalcode is required.
                      </div>
                      <div
                        *ngIf="postalCode.errors?.['minlength'] || postalCode.errors?.['maxlength']"
                      >
                        Postalcode must be between 3 and 40 characters.
                      </div>
                    </div>
                  </div>
                </div>

                <!-- EMAIL -->
                <div class="d-flex flex-row align-items-center mb-4" id="email">
                  <i class="fas fa-at fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <label class="form-label">Email</label>

                    <input
                      type="email"
                      id="email"
                      class="form-control"
                      formControlName="email"
                      value="{{ client.personalInformation.email }}"
                      [(ngModel)]="client.personalInformation.email"
                      required
                      minlength="8"
                    />

                    <div
                      *ngIf="email.invalid && (email.dirty || email.touched)"
                      class="text-muted"
                    >
                      <div *ngIf="email.errors?.['required']">
                        Email is required.
                      </div>
                      <div *ngIf="email.errors?.['emailInvalid']">
                        Email is invalid.
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- RIGHT COLUMN -->
              <div class="col-md-10 col-lg-6 col-xl-5">
                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-genderless fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <label class="form-label">Gender</label>

                    <select
                      class="form-select"
                      id="gender"
                      name="gender"
                      formControlName="gender"
                      [(ngModel)]="client.personalInformation.gender"
                      required
                    >
                      <option
                        value="{{ client.personalInformation.gender }}"
                        selected
                        disabled
                        hidden
                      >
                        <ng-container
                          *ngIf="client.personalInformation.gender == 'M'"
                        >
                          Male
                        </ng-container>
                        <ng-container
                          *ngIf="client.personalInformation.gender == 'F'"
                        >
                          Female
                        </ng-container>
                        <ng-container
                          *ngIf="client.personalInformation.gender == 'O'"
                        >
                          Other
                        </ng-container>
                      </option>
                      <option value="M">Male</option>
                      <option value="F">Female</option>
                      <option value="O">Other</option>
                    </select>

                    <div
                      *ngIf="gender.invalid && (gender.dirty || gender.touched)"
                      class="text-muted"
                    >
                      <div *ngIf="gender.errors?.['required']">
                        Gender is required.
                      </div>
                    </div>
                  </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-mobile fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <label class="form-label">Cellphone</label>

                    <input
                      type="number"
                      id="cellPhone"
                      class="form-control"
                      formControlName="cellPhone"
                      value="{{ client.personalInformation.cellPhone }}"
                      [(ngModel)]="client.personalInformation.cellPhone"
                      minlength="9"
                      maxlength="9"
                      required
                    />

                    <div
                      *ngIf="
                        cellPhone.invalid &&
                        (cellPhone.dirty || cellPhone.touched)
                      "
                      class="text-muted"
                    >
                      <div *ngIf="cellPhone.errors?.['required']">
                        Cellphone is required.
                      </div>
                      <div *ngIf="cellPhone.errors?.['minlength']">
                        Cellphone must be 9 digits.
                      </div>
                      <div *ngIf="cellPhone.errors?.['cellPhoneInvalid']">
                        Cellphone is invalid. Must be a portuguese phone number.
                      </div>
                    </div>
                  </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-location-dot fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <label class="form-label">Address</label>

                    <input
                      type="text"
                      id="address"
                      class="form-control"
                      formControlName="address"
                      value="{{ client.personalInformation.address }}"
                      [(ngModel)]="client.personalInformation.address"
                      required
                      minlength="1"
                      maxlength="30"
                    />

                    <div
                      *ngIf="
                        address.invalid && (address.dirty || address.touched)
                      "
                      class="text-muted"
                    >
                      <div *ngIf="address.errors?.['required']">
                        Address is required.
                      </div>
                      <div
                        *ngIf="address.errors?.['minlength'] || address.errors?.['maxlength']"
                      >
                        Address must be between 1 and 30 characters.
                      </div>
                    </div>
                  </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-id-card fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <label class="form-label">NIF</label>

                    <input
                      class="form-control"
                      type="number"
                      name="nif"
                      formControlName="nif"
                      pattern="\d{9}"
                      required
                      value="{{ client.personalInformation.nif }}"
                      [(ngModel)]="client.personalInformation.nif"
                      minlength="9"
                      maxlength="9"
                    />

                    <div
                      *ngIf="nif.invalid && (nif.dirty || nif.touched)"
                      class="text-muted"
                    >
                      <div *ngIf="nif.errors?.['required']">
                        Nif is required.
                      </div>
                      <div
                        *ngIf="nif.errors?.['nifInvalid'] || nif.errors?.['minlength'] || nif.errors?.['maxlength']"
                      >
                        Nif is invalid. Must contain 9 digits.
                      </div>
                    </div>
                  </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <label class="form-label" for="form3Example1c"
                      >Password</label
                    >

                    <input
                      class="form-control"
                      type="password"
                      name="password"
                      placeholder="********"
                      formControlName="password"
                    />

                    <div
                      *ngIf="
                        password.invalid && (password.dirty || password.touched)
                      "
                      class="text-muted"
                    >
                      <div *ngIf="password.errors?.['required']">
                        Password is required
                      </div>
                      <div *ngIf="password.errors?.['passwordInvalid']">
                        Your password must contain at least 1 character.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="d-flex justify-content-center">
      <button
        type="button"
        class="btn btn-primary btn-lg col-md-3 col-10 mb-5"
        (click)="editProfile()"
      >
        Save
      </button>
    </div>
  </ng-container>
</div>
