.bg-gray {
  background-color: rgb(180, 180, 180, 1);
}

.exit-icon {
  font-size: 20px;
  color: white;
}

.exit-icon:hover {
  color: rgb(255, 255, 255, 0.8);
}

/* Set the width and center align the event container */
.event-container {
  outline: rgb(180, 180, 180) solid 1px;
  margin-top: 50px !important;
  padding: 0px !important;
  width: 90% !important;
  margin: auto;
}

/* Styles for the body element */
body {
  font-family: "Lexend", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5 !important;
}

/* Define a CSS variable for the main color */
:root {
  --main-color: #76a713;
}

/* Styles for the product grid */
.product-grid {
  font-family: "Lexend", sans-serif;
  text-align: center;
  margin: 0 0 10px;
  transition: all 0.4s ease;
}

/* Styles for the product image */
.product-grid .product-image {
  position: relative;
}

/* Styles for the image within the product image */
.product-grid .product-image a.image {
  display: block;
}

/* Styles for the product image */
.product-grid .product-image img {
  width: 250px;
  height: 250px;
  outline: rgb(220, 220, 220) double 2px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 10px 0px;
}

/* Styles for the product content */
.product-grid .product-content {
  padding: 18px 12px 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Styles for the product title */
.product-grid .title {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 10px;
}

/* Styles for the product content */
.product-grid .content {
  margin: 0 0 10px;
}

/* Styles for headings and paragraphs */
h5,
p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100ch;
}

/* Styles for the event card */
.card-event {
  width: 70%;
  outline: rgb(220, 220, 220) solid 1px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 10px 0px;
}

.card-event:hover {
  outline: rgba(99, 99, 99, 0.5) solid 1px;
}

/* Styles for the icon div */
.icon-div {
  align-self: center;
}

/* Styles for the add button */
.addbtn {
  height: 40px;
  font-weight: 600;
  padding-left: 5px;
  padding-right: 5px;
}

/* MEDIA QUERIES */
