html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.mat-footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  padding: 16px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.mat-footer-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.mat-footer-content {
  color: gray;
  font-size: 14px;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 0.5rem; /* Add a small top margin for spacing */
}

.footer-link {
  color: gray;
  text-decoration: none;
}