<footer class="mat-footer">
  <div class="mat-footer-inner">
    <span class="mat-footer-content" aria-label="phoneNumber"
      >Contact: +351 289 132 061</span
    >
    <span class="mat-footer-content" aria-label="email"
      >Email: cultuga@gmail.com</span
    >
    <span class="mat-footer-content" aria-label="physicalAddress"
      >Address: Rua Pombal 65, Funchal, Ilha da Madeira</span
    >
    <span class="mat-footer-content"
      ><a class="footer-link" href="http://localhost:4200/about-us">About Us</a></span
    >
  </div>
</footer>
