<div class="container mb-5 mt-5">
  <div class="row container justify-content-center m-auto mt-5">
    <div class="row m-l-0 m-r-0">
      <!-- Card for displaying patrimony details and image -->
      <div class="card-patrimony-details-img col-lg-4 col-md-12 text-center">
        <div class="image-patrimony">
          <img
            src="http://127.0.0.1:5000/{{ patrimony.image.publicPath }}"
            style="width: 100%; max-width: 300px; height: auto"
            class="img-radius"
          />
        </div>
        <div class="d-flex justify-content-center mb-5">
          <button
            class="btn col-lg-9 col-md 12 btn-danger mt-5"
            (click)="closePatrimonyDetails()"
          >
            <i class="fa-solid fa-arrow-left"></i> Back
          </button>
        </div>
      </div>

      <!-- Card for displaying patrimony details content -->
      <div class="card-patrimony-details-content col-lg-8 col-md-12">
        <div class="card-block p-1">
          <h2 class="display-4 author-name">
            <strong>{{ patrimony.name }}</strong>
          </h2>
          <div class="row m-l-0 m-r-0 mb-5">
            <h4 class="display-6 mb-3">Details</h4>
            <div class="row">
              <!-- Type section -->
              <div>
                <h4 class="author-name"><strong>Type</strong></h4>
                <p>
                  {{ patrimony.type }}
                </p>
              </div>
            </div>
          </div>

          <hr class="dashed mt-5 mb-5" />

          <div class="row m-l-0 m-r-0 mb-5">
            <h4 class="display-6 mb-3">Location</h4>
            <div class="row">
              <div class="col-lg-6 col-md-12">
                <h4 class="author-name"><strong>Latitude</strong></h4>
                <p>
                  {{ patrimony.location.latitude }}
                </p>
              </div>
              <div class="col-lg-6 col-md-12">
                <h4 class="author-name"><strong>Longitude</strong></h4>
                <p>
                  {{ patrimony.location.longitude }}
                </p>
              </div>
              <div class="col-lg-6 col-md-12">
                <h4 class="author-name"><strong>City</strong></h4>
                <p>
                  {{ patrimony.location.city }}
                </p>
              </div>
              <div class="col-lg-6 col-md-12">
                <h4 class="author-name"><strong>District</strong></h4>
                <p>
                  {{ patrimony.location.district }}
                </p>
              </div>
            </div>
          </div>

          <hr class="dashed mt-5 mb-5" />

          <div class="row m-l-0 m-r-0 mb-5">
            <h4 class="display-6 mb-3">Events</h4>
            <div class="row">
              <div class="col-lg-6 col-md-12">
                <h4 class="author-name"><strong>Ongoing</strong></h4>
                <ng-container *ngIf="ongoingEvents.length !== 0">
                  <ng-container *ngFor="let ongoingEvent of ongoingEvents">
                    <a [routerLink]="['/events', ongoingEvent.name]">
                      <div style="display: block;">{{ ongoingEvent.name }}</div>
                    </a>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="ongoingEvents.length === 0">
                  No ongoing events.
                </ng-container>
              </div>
              <div class="col-lg-6 col-md-12">
                <h4 class="author-name"><strong>Done</strong></h4>
                <ng-container *ngIf="doneEvents.length !== 0">
                  <ng-container *ngFor="let doneEvent of doneEvents">
                    <a [routerLink]="['/events', doneEvent.name]">
                      <div style="display: block;">{{ doneEvent.name }}</div>
                    </a>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="doneEvents.length === 0">
                  No done events.
                </ng-container>
              </div>
            </div>
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>
