.card-patrimony-details-content {
  padding-top: 50px;
  outline: rgb(220, 220, 220) solid 1px;
  margin-bottom: 20px; /* Add margin-bottom for spacing */
}

.card-patrimony-details-img {
  padding-top: 50px;
  outline: rgb(220, 220, 220) solid 1px;
  margin-bottom: 20px; /* Add margin-bottom for spacing */
}

.author-name {
  font-weight: 200;
}

.image-patrimony {
  display: flex;
  justify-content: center;
}

.btn-review button {
  background-color: #545586 !important;
  color: white;
}
