/* Set the width and center align the patrimony container */
.patrimony-container {
  width: 90%;
  margin: auto;
}

/* Reset margin, padding, and box-sizing for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles for the body element */
body {
  font-family: "Lexend", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5 !important;
}

/* Define a CSS variable for the main color */
:root {
  --main-color: #76a713;
}

/* Styles for the product grid */
.product-grid {
  font-family: "Lexend", sans-serif;
  text-align: center;
  margin: 0 0 10px;
  transition: all 0.4s ease;
}

/* Styles for the product image */
.product-grid .product-image {
  position: relative;
}

/* Styles for the image within the product image */
.product-grid .product-image a.image {
  display: block;
}

/* Styles for the product image */
.product-grid .product-image img {
  width: 250px;
  height: 250px;
  outline: rgb(220, 220, 220) double 2px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 10px 0px;
}

/* Styles for the product links */
.product-grid .product-links {
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 0.4s ease;
}

/* Styles for each item within the product links */
.product-grid .product-links li {
  margin: 0 0 8px;
  transform: translateX(-10px);
  transition: all 0.3s ease;
}

/* Styles for the links within the product links */
.product-grid .product-links li a {
  color: var(--main-color);
  background-color: rgba(118, 167, 19, 0.15);
  font-size: 16px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  display: block;
  transition: all 0.2s ease-out;
}

/* Styles for the product content */
.product-grid .product-content {
  padding: 18px 12px 12px;
  position: relative;
}

/* Styles for the product title */
.product-grid .title {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 10px;
}

/* Styles for the link within the product title */
.product-grid .title a {
  color: #071c1f;
  transition: all 0.3s ease;
  text-decoration: none;
}

/* Styles for the product price */
.product-grid .price {
  color: #ff7d3f;
  font-size: 17px;
  font-weight: 700;
}

/* Styles for the discounted price within the product price */
.product-grid .price span {
  color: #071c1f;
  text-decoration: line-through;
}

/* Styles for the add-to-cart button */
.product-grid .add-to-cart {
  color: #fff;
  background-color: var(--main-color);
  font-size: 19px;
  line-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  transform: scale(0);
  position: absolute;
  bottom: -28px;
  right: -4px;
  transition: all 0.3s ease;
}

/* Styles for headings and paragraphs */
h5,
p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100ch;
}

/* Styles for the patrimony card */
.card-patrimony {
  outline: rgb(220, 220, 220) solid 1px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 10px 0px;
}

.card-patrimony:hover {
  outline: rgba(99, 99, 99, 0.5) solid 1px;
}

/* Styles for links */
a,
u {
  text-decoration: none;
}

/* Styles for regular links */
a {
  text-decoration: none !important;
  color: #151f5f;
}

/* Styles for the icon div */
.icon-div {
  align-self: center;
}

/* Styles for the add button */
.addbtn {
  height: 40px;
  font-weight: 600;
  padding-left: 5px;
  padding-right: 5px;
}

/* MEDIA QUERIES */

/* Galaxy Fold */
@media screen and (min-width: 260px) and (max-width: 320px) {
  .card-patrimony {
    width: 100%;
    margin-left: 12px !important;
  }

  .product-grid .product-image img {
    width: 150px;
    height: 150px;
  }
}

/* IPhone SE, Samsung Galaxy S8+ */
@media screen and (min-width: 360px) {
  .card-patrimony {
    width: 70%;
  }

  .product-grid .product-image img {
    width: 200px;
    height: 200px;
  }
}

/* Iphone 12 Pro, Pixel 5 */
@media screen and (min-width: 390px) and (max-width: 410px) {
  .card-patrimony {
    width: 70%;
  }

  .product-grid .product-image img {
    width: 200px;
    height: 200px;
  }
}

/* Iphone XR, Samsung Galaxy S20 Ultra, Samsung Galaxy A51/71 */
@media screen and (min-width: 411px) {
  .card-patrimony {
    width: 70%;
  }

  .product-grid .product-image img {
    width: 200px;
    height: 200px;
  }
}

/* Surface Duo */
@media screen and (min-width: 530px) {
  .card-patrimony {
    width: 60%;
  }

  .product-grid .product-image img {
    width: 200px;
    height: 200px;
  }
}

/* IPad Mini, IPad Air */
@media screen and (min-width: 760px) {
  .card-patrimony {
    width: 40%;
  }
}

/* Surface Pro 7, Nest Hub */
@media screen and (min-width: 900px) {
  .card-patrimony {
    width: 40%;
  }
}

/* Styles for screens with a minimum width of 1101px */
@media screen and (min-width: 1101px) {
  .card-patrimony {
    width: 40%;
  }
}

/* Styles for screens with a minimum width of 1500px */
@media screen and (min-width: 1500px) {
  .card-patrimony {
    width: 30%;
  }
}

/* Styles for screens with a minimum width of 1800px */
@media screen and (min-width: 1800px) {
  .card-patrimony {
    width: 30%;
  }
}
