.banner-container {
  background: linear-gradient(
    135deg,
    rgba(99, 99, 99, 0.97),
    rgba(0, 0, 0, 0.7)
  ) !important;
  padding: 25px;
  margin: auto;
}
.banner-container span {
  color: white;
  font-size: 1em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.banner-container img {
  border: 4px solid #fff;
  border-radius: 0px;
}

.banner-info {
  background: rgba(99, 99, 99, 1);
}

/* Set the width and center align the event container */
.event-container {
  width: 90%;
  margin: auto;
}

/* Reset margin, padding, and box-sizing for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles for the body element */
body {
  font-family: "Lexend", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5 !important;
}

/* Define a CSS variable for the main color */
:root {
  --main-color: #76a713;
}

/* Styles for the product grid */
.product-grid {
  font-family: "Lexend", sans-serif;
  text-align: center;
  margin: 0 0 10px;
  transition: all 0.4s ease;
}

/* Styles for the product image */
.product-grid .product-image {
  position: relative;
}

/* Styles for the image within the product image */
.product-grid .product-image a.image {
  display: block;
}

/* Styles for the product image */
.product-grid .product-image img {
  width: 250px;
  height: 250px;
  outline: rgb(220, 220, 220) double 2px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 10px 0px;
}

/* Styles for the product links */
.product-grid .product-links {
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 0.4s ease;
}

/* Styles for each item within the product links */
.product-grid .product-links li {
  margin: 0 0 8px;
  transform: translateX(-10px);
  transition: all 0.3s ease;
}

/* Styles for the links within the product links */
.product-grid .product-links li a {
  color: var(--main-color);
  background-color: rgba(118, 167, 19, 0.15);
  font-size: 16px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  display: block;
  transition: all 0.2s ease-out;
}

/* Styles for the product content */
.product-grid .product-content {
  padding: 18px 12px 12px;
  position: relative;
}

/* Styles for the product title */
.product-grid .title {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 10px;
}

/* Styles for the link within the product title */
.product-grid .title a {
  color: #071c1f;
  transition: all 0.3s ease;
  text-decoration: none;
}

/* Styles for the product price */
.product-grid .price {
  color: #ff7d3f;
  font-size: 17px;
  font-weight: 700;
}

/* Styles for the discounted price within the product price */
.product-grid .price span {
  color: #071c1f;
  text-decoration: line-through;
}

/* Styles for the add-to-cart button */
.product-grid .add-to-cart {
  color: #fff;
  background-color: var(--main-color);
  font-size: 19px;
  line-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  transform: scale(0);
  position: absolute;
  bottom: -28px;
  right: -4px;
  transition: all 0.3s ease;
}

/* Styles for headings and paragraphs */
h5,
p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100ch;
}

/* Styles for the event card */
.card-event {
  outline: rgb(220, 220, 220) solid 1px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 10px 0px;
}

.card-event:hover {
  outline: rgba(99, 99, 99, 0.5) solid 1px;
}

/* Styles for links */
a,
u {
  text-decoration: none;
}

/* Styles for regular links */
a {
  text-decoration: none !important;
  color: #151f5f;
}

/* Styles for the icon div */
.icon-div {
  align-self: center;
}

/* Styles for the add button */
.addbtn {
  height: 40px;
  font-weight: 600;
  padding-left: 5px;
  padding-right: 5px;
}

.sliderContainer {
  position: relative;
  width: 250px !important;
  height: 250px !important;
  margin: 0 auto;
  overflow: hidden;
}

.sliderContainer img:first-child {
  position: relative;
  width: 250px !important;
  height: 250px !important;
  left: 0%;
  top: 0;
}

.sliderContainer img {
  position: absolute;
  width: 250px;
  height: 250px;
  left: -100%;
  top: 0;
}

.nextCircle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% - 30px);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  opacity: 0.5;
  background-color: black;
  z-index: 19;
}

.next {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 20;
}

.nextCircle:hover {
  opacity: 0.7;
  cursor: pointer;
}

.fa.fa-arrow-right,
.fa.fa-arrow-left {
  font-size: 21px;
}

.prevCircle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: calc(100% - 30px);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  opacity: 0.5;
  background-color: black;
  z-index: 19;
}

.previous {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 20;
}

.prevCircle:hover {
  opacity: 0.7;
  cursor: pointer;
}

.margin-left {
  margin-left: 35dvw !important;
}

.margin-left-text {
  margin-left: 40dvw !important;
}

/* MEDIA QUERIES */

/* Galaxy Fold */
@media screen and (min-width: 260px) and (max-width: 320px) {
  .card-event {
    width: 100%;
    margin-left: 12px !important;
  }

  .product-grid .product-image img {
    width: 200px;
    height: 200px;
  }

  .margin-left {
    margin-left: -3.5dvw !important;
  }

  .margin-left-text {
    margin-left: 20dvw !important;
  }
}

/* IPhone SE, Samsung Galaxy S8+ */
@media screen and (min-width: 360px) {
  .card-event {
    width: 70%;
  }

  .product-grid .product-image img {
    width: 200px;
    height: 200px;
  }

  .margin-left {
    margin-left: 9dvw !important;
  }

  .margin-left-text {
    margin-left: 27dvw !important;
  }
}

/* Iphone 12 Pro, Pixel 5 */
@media screen and (min-width: 390px) and (max-width: 410px) {
  .card-event {
    width: 70%;
  }

  .product-grid .product-image img {
    width: 200px;
    height: 200px;
  }

  .margin-left {
    margin-left: 12dvw !important;
  }

  .margin-left-text {
    margin-left: 27dvw !important;
  }
}

/* Iphone XR, Samsung Galaxy S20 Ultra, Samsung Galaxy A51/71 */
@media screen and (min-width: 411px) {
  .card-event {
    width: 70%;
  }

  .product-grid .product-image img {
    width: 200px;
    height: 200px;
  }

  .margin-left {
    margin-left: 13dvw !important;
  }

  .margin-left-text {
    margin-left: 28dvw !important;
  }
}

/* Surface Duo */
@media screen and (min-width: 530px) {
  .card-event {
    width: 60%;
  }

  .product-grid .product-image img {
    width: 200px;
    height: 200px;
  }

  .margin-left {
    margin-left: 20dvw !important;
  }

  .margin-left-text {
    margin-left: 32dvw !important;
  }
}

/* IPad Mini, IPad Air */
@media screen and (min-width: 760px) {
  .card-event {
    width: 40%;
  }

  .margin-left {
    margin-left: 31dvw !important;
  }

  .margin-left-text {
    margin-left: 38dvw !important;
  }
}

/* Surface Pro 7, Nest Hub */
@media screen and (min-width: 900px) {
  .card-event {
    width: 40%;
  }

  .margin-left {
    margin-left: 32dvw !important;
  }

  .margin-left-text {
    margin-left: 39dvw !important;
  }
}

/* Styles for screens with a minimum width of 1101px */
@media screen and (min-width: 1101px) {
  .card-event {
    width: 40%;
  }

  .margin-left {
    margin-left: 41dvw !important;
  }

  .margin-left-text {
    margin-left: 44.5dvw !important;
  }
}

/* Styles for screens with a minimum width of 1500px */
@media screen and (min-width: 1500px) {
  .card-event {
    width: 30%;
  }
}
