<!-- Check if 'listing' is true, otherwise show 'details' -->
<ng-container *ngIf="first5events.length != 0">
  <ng-container *ngIf="listing">
    <div class="banner-container mb-5">
      <!-- Image slider for banner -->
      <div class="sliderContainer margin-left">
        <!-- Slide images -->
        <!-- Use first 5 images of events -->
        <ng-container *ngFor="let event of first5events; let i = index">
          <img
            src="http://127.0.0.1:5000/{{ event.imageUrl }}"
            alt="Banner {{ i + 1 }}"
            role="presentation"
            (click)="showDetails(event)"
          />
        </ng-container>
        <div class="nextCircle">
          <i
            class="fa fa-arrow-right next"
            id="rightArrow"
            aria-hidden="true"
          ></i>
        </div>
        <div class="prevCircle">
          <i
            class="fa fa-arrow-left previous"
            id="leftArrow"
            aria-hidden="true"
          ></i>
        </div>
      </div>
      <!-- End of image slider for banner -->
      <!-- Display the dates and names of the events -->
      <div
        class="nameContainer"
        style="
          margin-top: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
        "
      >
        <ng-container *ngFor="let event of first5events; let i = index">
          <span
            style="font-size: 1.5rem"
            id="nameText-{{ i + 1 }}"
            [hidden]="i !== currentImageIndex"
            >{{ event.name }}</span
          >
        </ng-container>
      </div>
      <div class="dateContainer margin-left-text" style="margin-top: 15px">
        <ng-container *ngFor="let event of first5events; let i = index">
          <span
            style="font-size: 1.5rem"
            id="dateText-{{ i + 1 }}"
            [hidden]="i !== currentImageIndex"
            >{{ event.date | date : "dd/MM/yyyy" }}</span
          >
        </ng-container>
      </div>
      <div
        class="dateRemainingContainer margin-left-text"
        style="margin-top: 15px"
      >
        <ng-container *ngFor="let event of first5events; let i = index">
          <span
            style="font-size: 1.5rem"
            id="dateRemainingText-{{ i + 1 }}"
            [hidden]="i !== currentImageIndex"
            >{{ getDaysLeft(event.date) }}
            days left
          </span>
        </ng-container>
      </div>
    </div>
  </ng-container>
</ng-container>

<div class="event-container mb-5">
  <!-- Check if 'listing' is true, otherwise show 'details' -->
  <ng-container *ngIf="listing; else details">
    <div class="row d-flex justify-content-center">
      <!-- Check if 'events' array is empty -->
      <ng-container *ngIf="events.length === 0">
        <div class="container mt-5">
          <div class="row">
            <div class="col-md-12">
              <div class="col-sm-12 text-center mt-5">
                <img src="assets\search-len.png" alt="Searching" />
                <h3 class="display-6 mt-5 mb-5">
                  No events to display.
                  <!-- No events message -->
                </h3>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <!-- Check if 'events' array is not empty -->
      <ng-container *ngIf="events.length !== 0">
        <!-- Iterate over 'events' array with pagination -->
        <ng-container
          *ngFor="
            let event of events
              | searchBarFilter : searchText
              | paginate : { itemsPerPage: 6, currentPage: p }
          "
        >
          <div class="mt-5 me-3 card-event">
            <div class="product-grid">
              <a [routerLink]="" (click)="showDetails(event)" class="image">
                <div class="product-image">
                  <img
                    src="http://127.0.0.1:5000/{{ event.imageUrl }}"
                    class="mb-2 mt-4"
                    alt="Event Image"
                  />
                </div>
                <div class="product-content">
                  <h5>{{ event.name }}</h5>
                  <p class="text-muted">{{ event.classification }}</p>
                  <h5>
                    <strong>{{ event.date | date : "yyyy-MM-dd" }}</strong>
                  </h5>
                </div>
              </a>
              <button
                class="btn border btn-primary mb-4 col-md-10 addbtn"
                (click)="showDetails(event)"
              >
                Purchase
              </button>
            </div>
          </div>
        </ng-container>

        <div class="text-center m-5">
          <pagination-controls
            (pageChange)="p = $event"
            previousLabel="Previous"
            nextLabel="Next"
          ></pagination-controls>
          <hr />
        </div>
      </ng-container>
    </div>
  </ng-container>

  <!-- 'details' template for the app-homepage-details component -->
  <ng-template #details>
    <app-homepage-details [event]="clickedEvent"></app-homepage-details>
  </ng-template>
</div>
