<div
  class="alert alert-danger alert-dismissable fade show"
  role="alert"
  id="error"
  hidden
>
  <strong>Error!</strong> Please try again after some time.
  <button
    type="button"
    class="btn-close margin-left-hugest"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>

<ng-container *ngIf="!unfinishedSaleTicket">
  <!--Display something that indicates there are no tickets bought for an event currently-->
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <div class="col-sm-12 text-center mt-5">
          <img src="assets\search-len.png" alt="Searching" />
          <h3 class="display-6 mt-5 mb-5">
            No tickets selected for an event yet.
            <!-- No patrimonies message -->
          </h3>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="unfinishedSaleTicket">
  <div class="card-details col-lg-8 col-md-12">
    <nav class="navbar navbar-dark bg-gray">
      <div class="container-fluid">
        <a class="navbar-brand">Checkout</a>
      </div>
    </nav>
    <div class="class-details-content">
      <div class="row m-l-0 m-r-0 mb-5 justify-content-center">
        <div class="col-md-4">
          <h4><strong>Event</strong></h4>
          <p>{{ unfinishedSaleTicket.eventName }}</p>
        </div>
        <div class="col-md-4">
          <h4><strong>Total Price</strong></h4>
          <p>{{ unfinishedSaleTicket.totalPrice | currency : "EUR" }}</p>
        </div>
        <div class="col-md-4">
          <h4><strong>Ticket Amount</strong></h4>
          <p>{{ unfinishedSaleTicket.totalTickets }}</p>
        </div>
      </div>
      <hr class="mb-5" />
      <ng-container *ngIf="clientInfo">
        <div class="card-block" id="clientInformation">
          <div class="row m-l-0 m-r-0 mb-5">
            <div class="col-md-4">
              <h4 class="author-name">Name</h4>
              <p>{{ clientInfo.personalInformation.name }}</p>
            </div>
            <div class="col-md-4">
              <h4 class="author-name">Cellphone</h4>
              <p>{{ clientInfo.personalInformation.cellPhone }}</p>
            </div>
            <div class="col-md-4">
              <h4 class="author-name">Email</h4>
              <p>{{ clientInfo.personalInformation.email }}</p>
            </div>
          </div>
          <hr class="mb-5" />
          <div class="row">
            <div class="col-md-4">
              <h4 class="author-name">Current Points</h4>
              <p>{{ clientInfo.loyaltySystem.actualPoints }}</p>
            </div>
            <div class="col-md-4">
              <h4 class="author-name">Price After Discount</h4>
              <p>{{ totalPriceAfterDiscount | currency : "EUR" }}</p>
            </div>
            <div class="col-md-4">
              <h4 class="author-name">Estimated Points After Discount</h4>
              <p>{{ roughEstimatedPointsAfterDiscountIsApplied }}</p>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="text-center">
        <ng-container *ngIf="!isClientLoggedIn">
          <button class="btn btn-primary" (click)="searchClientInfo()">
            Login to finish purchase
          </button>
        </ng-container>
      </div>

      <ng-container *ngIf="isClientLoggedIn">
        <div class="d-flex justify-content-center">
          <button
            class="btn btn-primary btn-lg"
            id="confirmCheckoutInformationButton"
            (click)="openDialog()"
          >
            Confirm
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
