<div class="about-us-card">
  <h2>About Us</h2>
  <h3>Welcome to Cultuga</h3>
  <p>
    <i class="fas fa-check-circle"></i> Cultuga is a professional eCommerce
    platform that offers a wide range of services. We are dedicated to providing
    you with an exceptional sales ticketing platform and promoting cultural
    experiences.
  </p>
  <p>
    <i class="fas fa-check-circle"></i> Our goal is to make cultural experiences
    easily accessible to everyone. Whether you are looking for event tickets,
    cultural products, or immersive activities, Cultuga has got you covered.
  </p>
  <p>
    <i class="fas fa-check-circle"></i> We are committed to delivering
    high-quality services that you can rely on. Our team is passionate about
    culture and strives to create an enriching online community for our
    customers.
  </p>
  <p>
    <i class="fas fa-check-circle"></i> We are constantly updating our website
    with exciting offerings and important posts. Your support and love are
    invaluable to us as we continue to grow and improve.
  </p>
  <p style="font-weight: bold; text-align: center">
    Thank you for visiting Cultuga!<br /><br />
    <span style="color: blue; font-size: 16px">Have a nice day!</span>
  </p>
  <i class="fa-solid fa-hands-holding-circle" id="about-us-icon"></i>
</div>
