.about-us-card {
  background-color: #f5f5f5;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-us-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-us-card p {
  font-size: 16px;
  line-height: 1.5;
}

/* Media queries */
@media screen and (max-width: 767px) {
  .about-us-card {
    padding: 10px;
    margin: 10px;
  }

  .about-us-card h2 {
    font-size: 20px;
  }

  .about-us-card p {
    font-size: 11px;
  }

  #about-us-icon {
    font-size: 30px;
    margin-left: 45%;
  }
}

@media screen and (min-width: 768px) {
  .about-us-card {
    padding: 15px;
    margin: 15px;
  }

  .about-us-card h2 {
    font-size: 22px;
  }

  .about-us-card p {
    font-size: 19px;
  }

  #about-us-icon {
    font-size: 50px;
    margin-left: 48%;
  }
}

@media screen and (min-width: 1101px) {
  .about-us-card {
    padding: 20px;
    margin: 20px;
  }

  .about-us-card h2 {
    font-size: 24px;
  }

  .about-us-card p {
    font-size: 22px;
  }
}
