<div>
  <app-header></app-header> <!-- Render the app-header component -->
  <div class="non-footer-content" style="padding-bottom: 20px">
    <router-outlet></router-outlet> <!-- Render the component associated with the current route -->
  </div>
</div>
<app-footer></app-footer> <!-- Render the app-footer component -->
